{% extends "EMP/header.html" %}

{% block content %}
<div class="row">
<div class="large-9 columns">
   {% if records == "no records found" %}
      <p style="text-align:center; color:red; margin-top:2%;" >{{ records }}</p>
    {% else %}
       <table align="center" class="viewtable">
           <tr>
               <th>Name</th>
               <th>Email ID</th>
               <th>Mobile Number</th>
           </tr>
           {% for item in table %}
           <tr>
               <td>{{ item.username }}</td>
               <td>{{ item.emailId }}</td>
               <td>{{ item.mobileNumber }}</td>
               <td><a class="button tiny" href="/EMP/{{ item.id }}/delete">Delete</a></td>
               <td><a class="button tiny" href="/EMP/{{ item.id }}/update">Update</a></td>
           </tr>
           {% endfor %}
       </table>
    {% endif %}
</div>
<p style="text-align:center; color:red;"class="val3"></p>

</div>

{% endblock %}